# mara
-e git+https://github.com/mara/mara-app.git@2.1.2#egg=mara-app
-e git+https://github.com/mara/mara-acl.git@2.0.0#egg=mara-acl
-e git+https://github.com/mara/mara-db.git@4.4.1#egg=mara-db
-e git+https://github.com/mara/mara-page.git@1.5.1#egg=mara-page

-e git+https://github.com/mara/data-integration.git@2.6.1#egg=data-integration
-e git+https://github.com/mara/mara-etl-tools.git@3.0.1#egg=mara-etl-tools
-e git+https://github.com/mara/bigquery-downloader.git@3.0.0#egg=bigquery-downloader
-e git+https://github.com/mara/data-sets.git@2.2.1#egg=data-sets

# running flask
gunicorn
Flask>=1.0.2

# downloading data from s3
awscli>=1.14.0


# Packages for package maintenance. Add them here so they get updated
pip
wheel
requests
setuptools
pipdeptree

